<main role='main' class='flex-shrink-0'>
  <div class='container'>
    <table class='table align-content-center'>
      <tbody id='tbodyProdTest'>
        <tr>
          <td>Argumentos: </td>
          <td>{{argumentos}} </td>
        </tr>
        <tr>
          <td>Path: </td>
          <td>{{path}} </td>
        </tr>
        <tr>
          <td>PID: </td>
          <td>{{PID}} </td>
        </tr>
        <tr>
          <td>Version: </td>
          <td>{{version}} </td>
        </tr>
        <tr>
          <td>Carpeta: </td>
          <td>{{carpeta}} </td>
        </tr>
        <tr>
          <td>Sistema : </td>
          <td>{{OS}} </td>
        </tr>
        <tr>
          <td>Memoria total reservada (rss) : </td>
          <td>{{memoryUsage}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>